# Ignore git directory
.git

# Ignore binaries
bin/

# Ignore SSH keys
id_ed25519
id_ed25519.pub

# Ignore markdown files
*.md

# Ignore docker files
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
.env

